<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Enter</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <h1>Peer to Peer Chat program</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">User</div>
                <div class="panel-body">
                    <table>
                        <form action="@{/enter}" method="post">
                            <tr>
                                <td><strong>Chose your name</strong></td>
                                <td><input type="text" th:value="${userentry}" name="userentry"/></td>
                                <td><input type="submit" value="Enter"/></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>