<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chat App</title>
    <meta http-equiv="refresh" content="30"/>
    <link rel="stylesheet"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h1>Peer to Peer Chat program</h1>
            <h2></h2>

            <div class="panel panel-default">
                <div class="panel-heading">User</div>
                <div class="panel-body">
                    <table>
                        <form action="/enter" method="post">
                            <tr>
                                <td><strong>Your username</strong></td>
                                <td><input type="text" th:value="${userentry}" name="userentry"/></td>
                                <td><input class="btn btn-primary btn-sm" type="submit" value="update"/></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>

            <div id="bottom"><a href="#bottom">Go to Bottom of Page</a></div>
            <p></p>

            <div class="panel panel-default">
                <div class="panel-heading">Chat</div>
                <div id="scroll" style="overflow-y: scroll; max-height: 300px" class="panel-body">

                    <ul th:each="message : ${messages}">
                        <li>
                            <span th:onclick="'showTimestamp(\'' + ${message.getTimestamp()} + '\');'"
                                  class="btn btn-primary btn-sm" th:text="${message.getText()}">message</span>
                            <div th:id="'timestamp-' + ${message.getTimestamp()}" style="display:none"
                                 th:text="${message.getTimestamp()}"></div>
                        </li>
                        <p th:text="${message.getUsername()}">username</p>
                    </ul>


                    <ul>
                        <li>
                            <span class="btn btn-primary btn-sm">
                                <strong>Hi there! Submit your message using the send button!</strong>
                            </span>
                        </li>
                        <p>App</p>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Send Message</div>
                <div
                        class="panel-body">
                    <table>
                        <p><strong>Message</strong></p>
                        <form action="/send" method="post">
                            <tr>

                                <td><textarea class="form-control"
                                              name="messages">Write your message here</textarea></td>

                            </tr>
                            <tr>
                                <td><input class="btn btn-primary btn-sm" type="submit" value="send"/>
                                    <a class="btn btn-default btn-sm glyphicon glyphicon-refresh"
                                       th:href="@{'/'}"></a></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/script.js"></script>
</body>
</html>